<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agni</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Agni</h1>
        <nav>
        
            <a href="Ai.html" target="_blank" id="ai">Chat Bot</a>
        </nav>
    </header>
    <main>
        <h2>Welcome to Wildfire Fire Detection System</h2>
        <div class="services">
            <div class="service-card">
                <a href="Predict.html" class="service-card">
                <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="Prediction">
                <h3>Forest Fire Prediction</h3>
                <p>Predict wildfires using Meteorological data</p>
                </a>
            </div>
            <div class="service-card">
                <a href="Satellite.html" class="service-card">
                <img src="{{ url_for('static', filename='images/satellite.jpg') }}" alt="Prediction">
                <h3>Satellite Image Detection</h3>
                <p>Detect wildfires using Satellite images</p>
                </a>
            </div>
            <div class="service-card">
                <a href="camera.html" class="service-card">
                <img src="{{ url_for('static', filename='images/photo.jpg') }}" alt="Prediction">
                <h3>Fire Detection using photos</h3>
                <p>Detect wildfires using Real world images</p>
                </a>
            </div>
            <div class="service-card">
                <a href="live.html" class="service-card" >
                <img src="{{ url_for('static', filename='images/fire.jpg') }}" alt="Prediction">
                <h3>Live Detection</h3>
                <p>Detect fires from live camera feed</p>
                </a>
            </div>
            </div>
        <!-- <a href="Alerts.html"> <button class="alerts" > 📢 Get Alerts</button></a> -->
    </main>
    <!-- <footer>
        <p></p>
    </footer> -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>